@page
@model radlab5._1.Pages.FluentUsers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FluentUser</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FluentUser.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FluentUser.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FluentUser.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FluentUser.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FluentUser.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FluentUser.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FluentUser.Biography)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FluentUser.Biography)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FluentUser.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FluentUser.Age)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="FluentUser.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
